.testimonial-container {
    display: flex;
    max-width: 1300px;
    flex-direction: column;
    align-items: center;
    margin: -5rem auto;
    margin-bottom: 5rem;
}

/* Slider Container */
.testimonial-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

/* Slider Image Details */
.testimonial-slider-details {
    text-align: center;
    margin: 0 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    max-width: auto;
    height: auto;
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #ffffff;
}
.testimonial-slider-details.active {
    opacity: 1;
    transition-delay: 0.6s;
    /* Delay the transition for smoother effect */
}

.testimonial-slider-image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    /* Add a slight image scale effect on hover */
}
.testimonial-slider-image:hover {
    transform: scale(1.1);
    /* Apply scaling effect on hover */
    transition: transform 0.3s ease-in-out;
}

.custom-slider-content {
    margin-top: 10px;
}

/* Slider Buttons */
.testimonial-slider-button {
    background-color: #00000088;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transitions for background and text color */
    border-radius: 12px;
    
}

.testimonial-slider-button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.prev-button {
    margin-right: auto;
}

.next-button {
    margin-left: auto;
}

/* Hover Animation */
.custom-slider-details:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow on hover */
}

.custom-slider-image:hover {
    transform: scale(1.1);
    /* Slightly increase image scale on hover */
}

@media (max-width: 768px) {
    .custom-slider-details {
        margin: 0 10px;
    }

    .custom-slider-content h2 {
        font-size: 14px;
    }

    .custom-slider-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}